/**
 * @name midnight (vencord)
 * @description a dark, customizable discord theme. based on https://github.com/nanoqoi/vencord-theme.
 * @author refact0r
 * @version 2.1.1
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/midnight-vencord.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/


@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {

    --font: 'Inter';
    --code-font: '';
    font-weight: 400


    --gap: 12px;
    --divider-thickness: 4px;
    --border-thickness: 0px;


    --animations: on;
    --list-item-transition: 0.2s ease;
    --dms-icon-svg-transition: 0.4s ease;
    --border-hover-transition: 0.2s ease;


    --top-bar-height: var(--gap);
    --top-bar-button-position: titlebar;
    --top-bar-title-position: off;
    --subtle-top-bar-title: off;


    --custom-window-controls: on;
    --window-control-size: 14px;


    --custom-dms-icon: custom;
    --dms-icon-svg-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 27' width='24' height='24'%3E%3Cpath fill='currentColor' d='M0 0h7v1H6v1H5v1H4v1H3v1H2v1h5v1H0V6h1V5h1V4h1V3h1V2h1V1H0m13 2h5v1h-1v1h-1v1h-1v1h3v1h-5V7h1V6h1V5h1V4h-3m8 5h1v5h1v-1h1v1h-1v1h1v-1h1v1h-1v3h-1v1h-2v1h-1v1h1v-1h2v-1h1v2h-1v1h-2v1h-1v-1h-1v1h-6v-1h-1v-1h-1v-2h1v1h2v1h3v1h1v-1h-1v-1h-3v-1h-4v-4h1v-2h1v-1h1v-1h1v2h1v1h1v-1h1v1h-1v1h2v-2h1v-2h1v-1h1M8 14h2v1H9v4h1v2h1v1h1v1h1v1h4v1h-6v-1H5v-1H4v-5h1v-1h1v-2h2m17 3h1v3h-1v1h-1v1h-1v2h-2v-2h2v-1h1v-1h1m1 0h1v3h-1v1h-2v-1h1v-1h1'%3E%3C/path%3E%3C/svg%3E");
    --dms-icon-svg-size: 90%;
    --dms-icon-color-before: var(--icon-secondary);
    --dms-icon-color-after: var(--white);
    --custom-dms-background: off;
    --dms-background-image-url: url('');
    --dms-background-image-size: cover;
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));


    --background-image: off;
    --background-image-url: url('');



    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;
    --blur-amount: 12px;
    --bg-floating: var(--bg-3);


    --custom-chatbar: aligned;
    --chatbar-height: 47px;
    --chatbar-padding: 8px;


    --small-user-panel: on;
}


:root {
    --colors: on;


    --text-0: #767676;
    --text-1: #767676;
    --text-2: #767676;
    --text-3: #767676;
    --text-4: #767676;
    --text-5: #767676;


    --bg-1: #DADADA;
    --bg-2: #DADADA;
    --bg-3: #DADADA;
    --bg-4: #DADADA;
    --hover: #DADADA;
    --active: #DADADA;
    --active-2: #DADADA;
    --message-hover: rgba(118, 118, 118, 0.1);


    --accent-1: #DADADA;
    --accent-2: #DADADA;
    --accent-3: #DADADA;
    --accent-4: #DADADA;
    --accent-5: #DADADA;
    --accent-new: var(--accent-2);
    --mention: rgba(118, 118, 118, 0.1);
    --mention-hover: #DADADA;
    --reply: rgba(118, 118, 118, 0.1);
    --reply-hover: #DADADA;


    --online: #767676;
    --dnd: #767676;
    --idle: #767676;
    --streaming: #767676;
    --offline: #767676;


    --border-light: var(--hover);
    --border: var(--active);
    --border-hover: var(--active);
    --button-border: #d4be98;


    --red-1: #DADADA;
    --red-2: #DADADA;
    --red-3: #DADADA;
    --red-4: #DADADA;
    --red-5: #DADADA;

    --green-1: #DADADA;
    --green-2: #DADADA;
    --green-3: #DADADA;
    --green-4: #DADADA;
    --green-5: #DADADA;

    --blue-1: #DADADA;
    --blue-2: #DADADA;
    --blue-3: #DADADA;
    --blue-4: #DADADA;
    --blue-5: #DADADA;

    --yellow-1: #DADADA;
    --yellow-2: #DADADA;
    --yellow-3: #DADADA;
    --yellow-4: #DADADA;
    --yellow-5: #DADADA;

    --purple-1: #DADADA;
    --purple-2: #DADADA;
    --purple-3: #DADADA;
    --purple-4: #DADADA;
    --purple-5: #DADADA;
}
